.display {
  grid-row: 2;
  padding: 3vmin;
  font-style: italic;
}

.profile-pic {
  width: 100%;
  max-width: 340px;
  /* Shifts image horizontally to center of parent element */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 2vmin;
}

.about-text {
  font-style: normal;
}

.display-list {
  text-align: left;
  list-style-position: inside;
}

.display-list li {
  margin-top: 4vmin;
}
