#root {
  padding: 7vw;
  text-align: center;
}

.container {
  display: grid;
  gap: 3vmin;
  grid-template-rows: 15vh minmax(60vh, auto) 15vh;
}

.intro-message {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
  font-family: "Source Code Pro", monospace;
  font-style: italic;
}
